@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Opera Composer Database</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <p>
            This application will provide information about operatic composers.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Azure</h2>
        <p>The application makes use of Microsoft Azure SQL</p>
        <p><a class="btn btn-default" href="https://azure.microsoft.com/en-us/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Other Applications</h2>
        <p>You can find my other applications here:</p>
        <p><a class="btn btn-default" href="https://github.com/sirjust?tab=repositories">More &raquo;</a></p>
    </div>
</div>